body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    /* background-image: url("../images/background.jpg"); */
    color: white;
    
}

#full{
    margin-top: 10%;
    
}
.container h3{
    margin-top: 5%;
}

button{
    margin-top: 5%;
    margin-bottom: 5%;
}
#form{
    background:#2C3E50;
    color:white;
}

#form input{
    margin-top: 2%;
}

.autocomplete-items {
   position: absolute;
    z-index: 99;
    border: 1px solid #706c7c00;
    border-bottom: none;
    border-top: none;
    left: 0;
    right: 0;
  }
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: black; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    color: black;
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
      
    background-color: DodgerBlue !important; 
  
    color: #ffffff; 
  }