body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    /* background-image: url("../images/background.jpg"); */
    color: white;
    
}

.payment-details{
  width: 500px;
  background-color: #2C3E50;
  margin: 80px 0px;
  display: flex;
  border: 1px solid;
  height: 400px;
  flex-direction: column;
  padding: 40px;
}
.details{
  padding: 40px;
}
.container-payment{
  width: 600px;
  background-color: #2C3E50;
  display: flex;
  border: 1px solid;
  height: 450px;
  flex-direction: column;
  padding: 40px;
  margin: 60px 20px;
}
.container-payment h1{
  text-align: center;
}

.first-row{
  display: flex;
}

.owner{
  width: 100%;
  margin-right: 40px;
}

.input-field{
  border: 1px solid #999;
  border-radius: 6px;
  width: 80%;
}

.input-field input{
  width: 100%;
  border:none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
}
.selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selection select{
  padding: 10px 20px;
}



.cards img{
  width: 100px;
}

button{
  display: inline-block;
color: #fff;
background-color: #1e62d8;
font-weight: 700;
padding: 14px 30px;
border-radius: 4px;
border: none;
-webkit-transition: 0.2s all;
transition: 0.2s all;
  margin: 15px 0px 0px 10px;

}

button:hover {
  background-color: #5390f5;
}


