*{
    padding: 0px;
    margin: 0px;
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    /* background-image: url("../images/background.jpg"); */
    color: white;
}
body div ul {
    background-color: #2f343a;
    margin: 30px;

}
body div ul li{
    text-decoration: none;
    display: inline;
    margin: 30px;
    padding: 20px;
}
.airlist{
    margin: 10px 20px;
    padding: 20px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
        /* background-image: url("../images/background.jpg"); */
        color: white;
    }
    body div ul {
        background-color: #2f343a;
        margin: 30px;

    }
    body div ul li{
        text-decoration: none;
        display: inline;
        margin: 15px;
        padding: 10px;
    }
    .airlist{
        margin: 5px 10px;
        padding: 10px;
        color: #fff;
        text-align: center;
    }
}

@media only screen and (max-width: 990px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
        /* background-image: url("../images/background.jpg"); */
        color: white;
    }
    body div ul {
        background-color: #2f343a;
        margin: 30px;

    }
    body div ul li{
        text-decoration: none;
        display: inline;
        margin: 10px;
        padding: 5px;
    }
    .airlist{
        margin: 3px 5px;
        padding: 5px;
        color: #fff;
        text-align: center;
    }
}